<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<sec:authorize access="isAuthenticated()">-->
<!--  <sec:authentication property="principal" var="principal"/>-->
<!--</sec:authorize>-->
<div sec:authentication="isAuthenticated()" property="principal" th:value="principal">
  ${principal.user.id}
</div>
<div th:fragment="header">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photogram</title>

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Style -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/story.css">
  <link rel="stylesheet" href="/css/popular.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/upload.css">
  <link rel="stylesheet" href="/css/update.css">
  <link rel="shortcut icon" href="/images/insta.svg">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<header class="header">
  <div class="container">
    <a href="/" class="logo">
      <img src="/images/logo.jpg" alt="">
    </a>
    <nav class="navi">
      <ul class="navi-list">
        <li class="navi-item"><a href="/">
          <i class="fas fa-home"></i>
        </a></li>
        <li class="navi-item"><a href="/image/popular">
          <i class="far fa-compass"></i>
        </a></li>
        <li class="navi-item"><a th:href="@{/user/{id}(id=${id})}">
          <i class="far fa-user"></i>
        </a></li>
      </ul>
    </nav>
  </div>
</header>
</div>

<footer th:fragment="footer">
  <div class="container">
    <ul>
      <li><a href="#a">소개</a></li>
      <li><a href="#a">블로그</a></li>
      <li><a href="#a">채용 정보</a></li>
      <li><a href="#a">도움말</a></li>
      <li><a href="#a">API</a></li>
      <li><a href="#a">개인정보처리방침</a></li>
      <li><a href="#a">약관</a></li>
      <li><a href="#a">인기 계정</a></li>
      <li><a href="#a">해시태그</a></li>
      <li><a href="#a">위치</a></li>
    </ul>
    <div class="copy">
      <p>© 2020 Photogram from There Programing</p>
    </div>
  </div>
</footer>